<!DOCTYPE html>
<html lang="en">
<head>
  <title>To-do app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

<h1>To-do app v.1.1</h1>

<ul class="list-group">
{% for task in tasks %}
    <li class="list-group-item">
        {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}
        &nbsp;&nbsp;&nbsp;<a href="/done/{{ task.id }}">X</a>&nbsp;&nbsp;&nbsp;
        <a href="/delete/{{ task.id }}">Delete</a>
    </li>
{% endfor %}
</ul>

<form action="/task" method="post">
    <div class="form-group">
    <p><input type="text" name="content" class="form-control" id="task" placeholder="Enter a task"></p>
        <button type="submit" name="add-button" class="btn btn-primary">Add task</button>
    </div>
</form>
</div>

</body>
</html>